@import "./variables";

/* Section 1 */

.section1 {
    position: relative;
}

.hero-section {
    padding: 0;
    margin: auto;
    position: relative;
    display: flex;
    width: 80vw;
    max-width: 75rem;
    height: fit-content;
}

.background1 {
    background: url("../imagesn/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    flex: 6;
    margin: auto;
    font-family: serif;
    width: 100%;
    height: 100%;
    font-weight: 600;
    color: white;
    font-size: 10vw;
    padding: 10rem 1rem 8rem 1rem;
}

.learn-more {
    text-align: left;
    color: $darkText;
    flex: 5;
    font-weight: 400;
    max-width: 28rem;
    background: white;
    min-height: inherit;
    padding: 10rem 2rem 0 2rem;
}

.learn-more>h2 {
    margin-bottom: 2.5rem;
    font-weight: 800;
    font-size: 2.5em;
    position: relative;
}

.learn-more>h2::after {
    content: "";
    position: absolute;
    width: 33%;
    height: 5px;
    left: 0;
    bottom: -15px;
    background-color: $primaryText;
}

.button {
    margin: 2rem auto 0 auto;
    padding: 0.5rem;
    background: $primary;
    ;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
    width: 8rem;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    transition: 0.3s;
}

.button-two {
    background-color: white;
    border: 2px solid $primary;
    color: $primary;
    margin-left: 1rem;
}

.button-one:hover {
    background-color: $primary;
    box-shadow: 0 0 10px $primary;
    border: 1px solid $primary;
}

.button-two:hover {
    box-shadow: 0 0 10px $primary;
    background-color: $primary;
    color: white;
}

//Section 2
.section2 {
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
}

.section2>h2 {
    left: 19%;
    margin-top: 5rem;
    position: relative;
}

.section2>h2::after {
    content: "";
    position: absolute;
    width: 23%;
    height: 5px;
    left: 0;
    bottom: -15px;
    background-color: $primaryText;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    width: 80%;
    max-width: 900px;
    margin: 5rem auto;
}

.grid-title {
    margin-bottom: 1rem;
    color: $primaryText;
}


/* Media queries */

@media (max-width: 1100px) {
    .hero-text {
        padding-top: 14rem;
    }
}


/* Animations */

.roll {
    display: inline-block;
    animation: roll 2s ease-in 2.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}